.form-container {
  @apply h-full flex md:flex-col items-start justify-around;
}

.formInput {
  @apply px-2 py-2 rounded-lg w-full appearance-none inline-block;
}

/* range input */
input[type="range"].rangeInput {
  @apply cursor-pointer h-1 py-0 shadow-lg;
}

input[type="range"].rangeInput::-webkit-slider-thumb {
  @apply appearance-none h-4 w-4 rounded-full bg-primary_green
  shadow-sm border border-primary_white z-40
  outline outline-offset-1 outline-1 ring-1;
}

input[type="range"].rangeInput::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  /* color: #444;
  -webkit-transition: box-shadow 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out; */
}

/* input[type="range"].rangeInput::-webkit-slider-runnable-track {
  background-color: green;
  height: 1em;
} */

.currentGrade {
  @apply border-l ml-5 pl-1 border-urban_blue;
}

.grades-container {
  @apply mt-2 text-urban_blue
  -mx-[0.05rem]
  w-full items-center justify-center;
}
.grades-container span {
  @apply relative inline-block w-[calc(100%/27)] 
  text-xs text-center
  transition duration-300 scale-100;
}
.grades-container span.active-grade {
  @apply scale-150 
 z-20
  transition px-1 duration-300;
}

span.active-grade::after {
  @apply content-[''] absolute border-l border-urban_blue
  -top-[0.35rem] left-1/2 h-[0.4rem] z-10 animate-[gradeTick_0.3s_ease-in];
}

.grades-container span:not(.active-grade) {
  @apply blur-[0.8px];
}
